

.table-formatted table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

.table-formatted th,
.table-formatted td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left !important;
}

.table-formatted th {
    background-color: #f2f2f2;
}

.table-formatted tr:hover,
.table-formatted tr:nth-child(2n) td{
    background-color: #f5f5f5;
}
.new-label {
    color: red;
    font-weight: bold;
    margin-left: 5px;
}

#aipetpersonality-sharing-links {
    z-index: 9999;
}
@media (min-width: 768px) { /* Adjust 768px if needed */
    #aipetpersonality-sharing-links {
        width: 200px;
    }
}
#aipetpersonality-sharing-links .btn:visited {
    color:#333;
}


#openai-badge {
    display: inline-block;
    background-color: #333; /* Dark gray background */
    color: #fff; /* White text */
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top:0;
    right:-20px;
    z-index: 1000; /* Ensure it's on top of other elements */
    cursor:pointer;
}

#openai-badge:hover::after {
    content: "This site uses the OpenAI API for generating personality profiles!";
    display: block;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: 100%;
    right: 0;
    white-space: nowrap;
    font-size: 10px;
    margin-bottom: 5px;
}
/**
UI
 */
.header {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
}
.header--img{
    width:64px;
}

.interactive-section {
    margin: 40px 0;
    text-align: center;
}

.result-section {
    margin: 1.5rem 0;
    padding: 20px;
    border: 1px solid #e0e0e0;
    position: relative;
}

.wp-block-post-content a:where(:not(.wp-element-button)) {
    color: inherit;
}

@media (max-width: 767px) { /* Adjust 768px if needed */
    .has-global-padding {
        padding:0;
    }
}
